<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Pick Your Poison!</h2>

        <form class="clearfix mb-4" method="GET" action="/">
          <div class="form-group">
            <label for="drinks-name">Drink Name</label>
            <input name="query" type="text" id="drinks-name" class="form-control" aria-describedby="drinks-name" placeholder="Enter Drink Name">
          </div>
          <button type="submit" id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        <h3>Results:</h3>
        <ul id="drinks-list" class="list-group">
          {{#each drinks}}
          <li data-id="{{this.idDrink}}" class="list-group-item">
            <a href="drink/{{this.idDrink}}">{{this.drinkName}}</a>
            <img class="thumbnail" src="{{this.drinkImage}}" alt="">
            {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
          </li>
          {{/each}}
        </ul>
        
      </div>
    </div>
  </div>
</div>


